body {
  background-color: #cee6b4;
}


.iconify {
  font-size: 40px;
}

.card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        margin-top: 100px;
}

#footer{
  margin: 10%;
  text-align: center;
}

.hayo {
  text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-size: 20px;

}
